<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480724099564-fbh47mb4h2rmajo3pgpq701me23o5e1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480724099564-fbh47mb4h2rmajo3pgpq701me23o5e1t</string>
	<key>API_KEY</key>
	<string>AIzaSyAJOQ78c--lVis4AwHRGhRwMiDjhuo-Lvs</string>
	<key>GCM_SENDER_ID</key>
	<string>480724099564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arsalanurrehman.foodDiary</string>
	<key>PROJECT_ID</key>
	<string>recipe-app-fyp</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-app-fyp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480724099564:ios:dca27c252245d5ef9660c9</string>
</dict>
</plist>